<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>统一异常信息页面</title>
    <link rel="stylesheet" href="../../static/3rd/bootstrap/3.3.7/css/bootstrap.css">
    <script type="text/javascript" src="../../static/3rd/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../static/3rd/bootstrap/3.3.7/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <h1 th:text="${error.message}"></h1>
    <a onclick="getDetail()">更多信息</a>
    <div id="detail" class="container-fluid" hidden="hidden">
        <div class="row-fluid">
            <div class="span12">
                <textarea class="form-control text-error" th:text="${error.detail}" rows="35" disabled style="background-color: #ffffff"></textarea>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    function getDetail() {
        $('#detail').toggle();
    }
</script>
</html>