body{
	font-family:微软雅黑, 宋体;
	padding-left: 50px;
	padding-right: 50px;
	min-width: 1440px;
}
.table-button {
	margin: 0px;
	height: 25px;
	line-height: 5px;
}
.row {
	margin-top: 10px;
	margin-bottom: 10px;
}
.btn-100{
	width: 100px;
}
.btn-120{
	width: 120px;
}
.required_star {
	color: #a94442;
}